.hidden {
  visibility: hidden !important;
}

.has-text-white {
  color: var(--white) !important;
}

.has-text-grey {
  color: var(--grey) !important;
}

.has-text-grey-dark {
  color: var(--dark-grey) !important;
}

.has-text-ceremonial {
  color: var(--ceremonial) !important;
}

.has-text-centered {
  text-align: center;
}

.has-text-right {
  text-align: right;
}

.has-text-weight-bold {
  font-weight: bold !important;
}

.is-relative {
  position: relative !important;
}

.no-margin {
  margin: 0 !important;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
