@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

html, h1, h2, p, tr, th, span {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #38b28b !important;
}

h2 {
  color: #38b28b !important;
}
